{% extends "layout.html" %}

{% block head%}
    <script>
        function calculatebtc(){
            var btc_to_sold = document.getElementById("slider").value;
            document.getElementById("SliderVal").innerHTML = btc_to_sold;
            document.getElementById("SellingBitcoin").innerHTML = btc_to_sold;
            var priceperbitcoin = document.getElementById("priceperbitcoin").value;
            document.getElementById("TotalAmount").innerHTML = btc_to_sold * priceperbitcoin;
        }

        function changeinValue(){
            var priceperbitcoin = document.getElementById("priceperbitcoin").value;
            var btc_to_sold = document.getElementById("slider").value;
            document.getElementById("PriceBitcoin").innerHTML = priceperbitcoin
            document.getElementById("TotalAmount").innerHTML = btc_to_sold * priceperbitcoin;
        }

        function finalizingSell(){
            var btc_to_sold = document.getElementById("slider").value;
            var priceperbitcoin = document.getElementById("priceperbitcoin").value;
            document.getElementById("btcSellingVolumeConfirm").value = btc_to_sold;
            document.getElementById("btcSellingPriceConfirm").value = priceperbitcoin;
        }

        function valueFromBuyer(rowloop){
            var bitcoin = document.getElementById('bitcoin-'.concat(rowloop)).innerHTML;
            var upgraded_btc_value = document.getElementById('price-'.concat(rowloop)).innerHTML;
            var amount = bitcoin * upgraded_btc_value;
            document.getElementById('bitcoins').value = bitcoin;
            document.getElementById('SellingBitcoin').innerHTML = bitcoin;
            document.getElementById("PriceBitcoin").innerHTML = upgraded_btc_value ;
            document.getElementById("priceperbitcoin").value = upgraded_btc_value ;
            document.getElementById('TotalAmount').innerHTML = amount;
        }

    </script>

    <style>
        .clickable {
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block content %}
    <div>
        <h1 align="center">Update Bid</h1>
        <div class="col-md-6">
            <h1>Sell Bitcoins</h1>
            <form action="/updatesell" method="post">
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <!--<span id="CurrentSliderValLabel" class="k-spacing-left&#45;&#45;large">Selling Bitcoins: <span id="SliderVal">{{person_account_details}}</span></span>-->
                            <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-bitcoin"></i></span>
                            <input id="bitcoins" type="number" name="btcSellingVolume" min="0" max="{{person_account_details}}"value="{{person_account_details}}" step="0.001" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-inr"></i>/<i class="glyphicon glyphicon-bitcoin"></i></span>
                          <input name="btcSellingPrice" id="priceperbitcoin" type="number" class="form-control" placeholder="Amount" aria-describedby="sizing-addon1" value="{{price_per_bitcoin}}" oninput="changeinValue()">
                        </div>
                    </div>
                <div>
                    <span id="Total Amount"><span id="SellingBitcoin">{{person_account_details}}</span><i class="glyphicon glyphicon-bitcoin"></i> @ <span id="PriceBitcoin">{{price_per_bitcoin}}</span> <i class="fa fa-inr"></i> will give you <span id="TotalAmount"> {{ person_account_details * price_per_bitcoin }}</span> <i class="fa fa-inr"></i></span>
                </div>
                <button name="submit" type="submit" class="btn btn-primary" value="update" >Update</button>
                <button name="submit" type="submit" class="btn btn-danger" value="cancel">Cancel</button>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>
                            <div align="center">Volume</div>
                        </th>
                        <th>
                            <div align="center">Price per BTC</div>
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for topic in TOPIC_DICT['buyers'] %}
                        {% set rowloop = loop %}
                        <tr class="clickable" onclick="valueFromBuyer({{rowloop.index}})">
                            <td>
                                <div align="center" id="bitcoin-{{ rowloop.index }}">{{topic['bitcoins']}}</div>
                            </td>
                            <td>
                                <div align="center" id="price-{{ rowloop.index }}">{{topic['price']}}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}